/* Add screen styles below */

:root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3F3C;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
    font-weight: normal;
}

main {
    background: url('polaroid (1).png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
    margin-bottom: 100px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 100px;
    line-height: 60px;
    font-size: 32px;
    background-size: 35px;
    width: 1000px;
}

.details ul li.WiFi {
    background: url('wifi-solid.png') no-repeat center left;
}

.details ul li.Cloud {
    background: url('cloud-arrow-up-solid.svg') no-repeat center left;
}

.details ul li.QR {
    background: url('qrcode-solid.svg') no-repeat center left;
}

.details ul li.Photo {
    background: url('photo-film-solid.svg') no-repeat center left;
}

.details p {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.details h3 {
    text-align: center;
    font-size: 64px;
}

.cta h3 {
    font-size: 64px;
    text-align: center;
}

input[type=text] {
    width: 40%;
    text-align: left;
    padding: 16px 32px 16px 16px;
    margin: 25px 25px 25px 0px;
    border: none;
    font-family: 'Inter';
    font-size: 16px;
    background-color: #ECECEC;
    color: #424242;
  }

input[type=button] {
    background-color: var(--accent-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 16px;
    border: none;
    color: white;
    padding: 16px 32px 16px 32px;
    margin-left: -10px;
    margin-right: 0px;
}

form {
    background: linear-gradient(#E2E2E2,#D6D7D6) no-repeat center center;
    border-radius: 20px;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}